/* Form style */

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .form-header h2 {
    margin: 0;
  }
  
  h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input-box {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .input-checkbox-radio {
    margin-right: 5px;
  
  }
  
  .label-checkbox-radio {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .image-checkbox-radio {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 5px;
  
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    /* Other styles */
    cursor: pointer;
    /* Change cursor to pointer */
  }
  
  .input-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
  }
  
  .form-container {
    display: flex; /* Use flexbox to align the button horizontally */
    justify-content: center; /* Center the button horizontally */
    width: 100%; /* Ensure the container spans the full width of the form */
    margin-top: 20px; /* Adjust top margin as needed */
  }
  
  .input-button:hover {
    background-color: #0056b3;
  }
  
  .reset-button {
    background-color: #555;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0 10px;
  }
  
  .reset-button:hover {
    background-color: #333;
  }
  
  .submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  
  .section-divider {
    margin-top: 30px;
    border-top: 1px solid #ccc;
  }
  
  .page {
    display: none;
  }
  
  .page.active {
    display: block;
  }