<div class="footer-menu">
    <a href="/">Home</a>
    <a href="/deals">Deals</a>
    <a href="/products">Products</a>
    {{#if currentUser}}
        <a href="/orders">My orders</a>
        {{#if (eq currentUser.profile "Admin")}}
        <a href="/users">Users</a>
        {{/if}}
    {{/if}}
    <a href="/contact">Contact</a>
    <a href="/about">About</a>
</div>
<div class="footer-info">
    <span>
        <p>8 Bit Bazaar © All Rights Reserved</p>
    </span>
    <span>
        <p>Toronto, Ontario</p>
    </span>
    <span>
        <p>Phone +1 333 333 3333</p>
        <p>Email: contact@8bitbazaar.net</p>
    </span>
</div>
