<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About | 8 Bit Bazaar</title>
    <meta name="description" content="Website of old products">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/style-about.css" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>
<body>
    <header>
        {{> header}}
    </header>
    <main>
        <div class="about-content">
            <p>This is a website for an assignment and only for learning purposes.</p>
            <br>
            <p>Assignment detail: COMP2068 Term Project</p>
            <p>GitHub repository: 
                <a href="https://github.com/marcosmota5/8BitBazaar" title="GitHub Repository">
                    8 Bit Bazaar Repository
                </a>
            </p>
            <br>
            <h3>Students:</h3>
            <div class="students-section">
                <!-- Marcos -->
                <div class="student-card">
                    <img src="/images/students/marcos-mota.png" alt="Student Picture">
                    <div class="student-card-content">
                        <h3>Marcos Oliveira Mota</h3>
                        <p class="student-id">Id: 200564426</p>
                        <p>Portfolio: <a href="https://www.marcosmota.tech/portfolio">marcosmota.tech</a></p>
                        <p>Follow Me: <a href="https://www.linkedin.com/in/marcosmota5">LinkedIn</a></p>
                    </div>
                </div>
                <!-- Henrique -->
                <div class="student-card">
                    <img src="/images/students/henrique-goncalves.png" alt="Student Picture">
                    <div class="student-card-content">
                        <h3>Henrique Gonçalves</h3>
                        <p class="student-id">Id: 200591288</p>
                        <p>Portfolio: <a href="https://github.com/henriquegoncalvesdev">GitHub</a></p>
                        <p>Follow Me: <a href="https://www.linkedin.com/in/henriquegoncalvesdev">LinkedIn</a></p>
                    </div>
                </div>
            </div>
            <br>
            <p>Thanks to the creators of the following images:</p>
            <ul>
                <li><a href="https://www.flaticon.com/free-icons/browser" title="browser icons">Browser icons created by Freepik - Flaticon</a></li>
                <li><a href="https://www.flaticon.com/free-icons/8-bit" title="8 bit icons">8 bit icons created by Freepik - Flaticon</a></li>
                <li><a href="https://wallpaperaccess.com/8-bit-gif" title="8 bit gif">8 bit gif by Wallpaper Access</a></li>
            </ul>
        </div>

        <footer>
            {{> footer}}
        </footer>
    </main>

    <script src="/js/scripts.js"></script>
</body>
</html>
