<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Change Password | 8 Bit Bazaar</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/style-register.css" />
    <link rel="shortcut icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>
<body>
    <header>
        {{> header}}
    </header>
    <main class="main-content-register">
        <form action="/change-password" method="POST">
            <div class="form-header">
                <h2>Change Password</h2>
                <button class="reset-button" type="button" onclick="document.getElementById('reset-btn').click()">
                    <span class="material-symbols-outlined">delete</span>&nbsp;Clear
                </button>
                <input style="display:none" type="reset" id="reset-btn" onclick="return confirm('Clear the form?')">
            </div>

            <div class="form-field-group">
                <div class="form-field">
                    <label for="current-password">Current Password<span class="required">*</span></label>
                    <input class="input-box" type="password" name="current-password" id="current-password" maxlength="32" required>
                </div>
            </div>
            <div class="form-field-group">
                <div class="form-field">
                    <label for="new-password">New Password<span class="required">*</span></label>
                    <input class="input-box" type="password" name="new-password" id="new-password" maxlength="32" required>
                </div>
            </div>
            <div class="form-field-group">
                <div class="form-field">
                    <label for="confirm-password">Confirm Password<span class="required">*</span></label>
                    <input class="input-box" type="password" name="confirm-password" id="confirm-password" maxlength="32" required>
                </div>
            </div>

            <div class="form-container">
                <button class="submit-button" type="button" onclick="document.getElementById('submit-btn').click()">
                    <span class="material-symbols-outlined">save</span>&nbsp;Confirm Change
                </button>
                <input style="display:none" type="submit" id="submit-btn">
            </div>
        </form>
        <footer>
            {{> footer}}
        </footer>
    </main>

    <script src="/js/scripts.js"></script>
    <script>
        {{#if successMessage}}
            toastr.options.positionClass = 'toast-bottom-right';
            toastr.success('{{successMessage}}', 'Success');
        {{/if}}
        {{#if errorMessages}}
            toastr.options.positionClass = 'toast-bottom-right';
            toastr.error('{{errorMessages}}', 'Error');
        {{/if}}
    </script>
</body>
</html>
