<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Submission Received | 8 Bit Bazaar</title>
    <meta name="description" content="Website of old products">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>
<body>
    {{> header}}

    <main>
        <section>
            <h3>Thank you for your message. We will get in touch soon!</h3>
        </section>
    </main>

    {{> footer}}
    <script src="/js/scripts.js"></script>
</body>
</html>
